body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    width: 495px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #fff;
}

.counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    color: #999;
}

.counter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 2px solid #999;
    border-radius: 14px;
    padding: 10px;
}

.counter:nth-child(2) {
    margin-left: 30px;
}

.counter-value {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

.success-counter-value {
    color: green;
}

.fail-counter-value {
    color: red;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: url(../img/butterfly-net.svg);
  }

.cells {
    display: grid;
    width: 495px;
    height: 495px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.cell {
    background-color: #999;
}

.cell_has-goblin {
    background-image: url(../img/goblin.png);
}

.reset {
    cursor: pointer;
}

.btn {
    align-self: center;
    width: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 14px;
    color: #333;
    background-color: #999;
    text-align: center;
    font-weight: bold;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
  
.modal_active {
    display: flex;
}

.modal-content {
    width: 300px;
    height: 200px;
    overflow: auto;
    background: #fff;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-text {
      text-align: center;
  }

  .modal-btn {
      margin-top: 20px;
      padding: 10px;
      border-radius: 14px;
      background-color: green;
      color: #fff;
      font-weight: bold;
  }